# python 3.8.10 is the preferred Python version
MetaTrader5
numpy== 1.24.3 # 1.21.6  # Compatible with MetaTrader5
pandas
tqdm

TA-Lib # Download & Run TA-Lib in powershell, Watch youtube video on that
	# link: https://pypi.org/project/TA-Lib/
	# How to install: https://www.youtube.com/watch?v=-mGeD9FSUZI

#For backtesting
backtesting

# ======== Fot sensitive information
python-dotenv

# For Chart
plotly
matplotlib
#nbformat  # ==5.1.3

# For forex calender
wbdata
investpy

# trendline detection
# trendln

# ======== For Sentiment Analysis and Web Scraping
# nltk

# For webscraping
beautifulsoup4